// how can help style
.cm-how-can-help {
    .block {
        padding: 40px 35px;
        background-color: $white;
        border: 1px solid $color-primary;
        transition: .3s;
        .icon {
            height: 70px;
            width: 70px;
            text-align: center;
            line-height: 70px;
            margin-bottom: 25px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}